Package: boop
Version: %%VERSION%%
Section: base
Priority: optional
Architecture: %%ARCH%%
Depends: upstart
Maintainer: Michael Gerow <gerow.mike@gmail.com>
Description: Boop command server
  This service provides a lightweight http server
  for running scripts/commands in response to http
  queries.
